<header class="l-header">
  <ul class="top-menu disable-link-styles">
    <li class="logo-small-container">
      <a class="v-center-block-parent">
        <img class="v-center-block logo-small angular-university-logo"
             src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
             data-pin-nopin="true">

      </a>
    </li>
    <li>
      <a>Inputs</a>
    </li>
  </ul>

</header>

<body>
<div class="container">

  <div class="modal-buttons">
      <button #loginButton>Login</button>
      <button #signUpButton>Sign Up</button>
  </div>
  <ng-template #authModalBody>
      <power-tab-panel #tabPanelInModal [style.width.px]="350" id="tab-panel">
          <power-tab title="Login" #loginTab>
              <form>
                  <div class="form-field">
                      <power-fa-input id="email-field" icon="envelope">
                          <input placeholder="Email" type="email" autocomplete="off" class="test-class">
                      </power-fa-input> 
                  </div>
                  <div class="form-field">
                      <power-fa-input id="password-field" icon="lock">
                          <input type="password" placeholder="Password" class="test-class">
                      </power-fa-input>
                  </div>
              </form>
          </power-tab>
          <power-tab title="Sign Up" #signUpTab>
              <form>
                  <div class="form-field">
                      <label>Email:</label><input>
                  </div>
                  <div class="form-field">
                      <label>Password:</label><input>
                  </div>
                  <div class="form-field">
                      <label>Confirm Password:</label><input>
                  </div>
              </form>
          </power-tab>
          <power-tab title="Contact" #contactTab>
              <form>
                  <div class="form-field">
                      <label>Email:</label><input class="contact-email">
                  </div>
                  <div class="form-field">
                      <label>Message:</label>
                      <textarea></textarea>
                  </div>
              </form>
          </power-tab>
      </power-tab-panel>
  </ng-template>
  <!--<ng-template [powerModalOpenOnClick]="[loginButton,signUpButton]">
    <power-modal  class="auth-modal" [body]="authModalBody">
    </power-modal>
  </ng-template> -->

  <power-modal  class="auth-modal" [body]="authModalBody" 
  *powerModalOpenOnClick="[loginButton,signUpButton]">
  </power-modal>

  <!--
  <ng-template #headerButtons>
      <button (click)=tabPanel.selectTab(loginTab)>Login</button>
      <button (click)=tabPanel.selectTab(signUpTab)>Sign Up</button>
      <button (click)=tabPanel.selectTab(contactTab)>Contact</button>
  </ng-template>
  <power-tab-panel #tabPanel [style.width.px]="350" id="tab-panel">
      <power-tab title="Login" #loginTab>
          <form>
              <div class="form-field">
                  <label>Email:</label>

              </div>
              <div class="form-field">
                  <label>Password:</label><input>
              </div>
          </form>
      </power-tab>
      <power-tab title="Sign Up" #signUpTab>
          <form>
              <div class="form-field">
                  <label>Email:</label><input>
              </div>
              <div class="form-field">
                  <label>Password:</label><input>
              </div>
              <div class="form-field">
                  <label>Confirm Password:</label><input>
              </div>
          </form>
      </power-tab>
      <power-tab title="Contact" #contactTab>
          <form>
              <div class="form-field">
                  <label>Email:</label><input class="contact-email">
              </div>
              <div class="form-field">
                  <label>Message:</label>
                  <textarea></textarea>
              </div>
          </form>
      </power-tab>
  </power-tab-panel>
-->
<!--
  <h1>Font Awesome</h1>

<div class="form">

  <div class="form-row">
      <label>Normal Input:</label>
      <input class="normal-input" type="email" name="email" placeholder="E-mail">
  </div>  
  <div class="form-row">
    <label>Email:</label>
    <power-fa-input id="email-field" icon="envelope">
      <input placeholder="Email" type="email" autocomplete="off" class="test-class">
    </power-fa-input>
  </div>
  <div class="form-row power-fa-input-red-theme">
    <label>Password:</label>
    <power-fa-input id="password-field" icon="lock">
      <input type="password" placeholder="Password" class="test-class">
    </power-fa-input>
  </div>
  <div class="form-row stripe-field">
    <label>Stripe:</label>
    <power-fa-input icon="cc-stripe">
      <input type="text" placeholder="Stripe">
    </power-fa-input>
  </div>
  <div class="form-row">
    <label>Paypal:</label>
    <power-fa-input icon="paypal">
      <input type="text" placeholder="Paypal">
    </power-fa-input>
  </div>

  <h1>Material Design</h1>

  <div class="form-row">
    <label>Lock:</label>
    <power-md-input icon="search">
      <input type="email" placeholder="E-mail" name="email">
    </power-md-input>
  </div>
  <div class="form-row power-md-input-red-theme">
    <label>Id Number:</label>
    <power-md-input icon="perm_identity">
      <input type="email" placeholder="email" name="email">
    </power-md-input>
  </div>
  <div class="form-row">
    <label>Receipt Number:</label>
    <power-md-input icon="receipt">
      <input type="email" placeholder="email" name="email">
    </power-md-input>
  </div>
</div>
-->
</div>

</body>

